@charset "utf-8";
/* CSS Document */
body
{
	background-color: #DFE1E4;
}
#heading_div
{
	background-color: lightgrey;
	margin: 15px;
}
#name_heading
{
	text-align: center;
	background-color: #FF9100;
	width: 100%;
	margin-top: 65px;
	padding: 10px;
	font-family: 'Skranji', cursive;
}
#profile_pic
{
	float: left;
	margin-left: 15px;
}
#education
{
	margin-top: 10px;
}
.heading
{
	padding: 10px;
	font-size: 25px;
	background-color: #FF9100;
}
.education_div
{
	background-color:lightgrey;
	margin-top: 10px;
	padding: 10px;
}
.education_heading
{
	font-size: 20px;
	color: black;
}
.education_school
{
	font-size: 12px;
	color: darkslategray;
}
.education_year
{
	font-size: 15px;
	color: darkslategray;
}
#skills
{
	margin-top: 10px;
}
#skill_box
{
	margin: 15px
}
#project_box
{
	margin-top: 5px;
}
.projects
{
	
	background-color: mintcream;
	padding: 10px;
	margin-top: 5px;
}
.project_title
{
	color: cornflowerblue;
	font-size: 25px;
	margin-left: 25px;
}
.projects li
{
	color: dimgrey;
	margin-top: 5px;
	padding-left: 25px
}
#contact
{
	margin-top: 10px;
}
#contact_details
{
	margin-top: 10px;
	margin-bottom: 30px;
}
