@charset "utf-8";
/* CSS Document */
#heading_div
{
	width: 100%;
	background-color: #DFE1E4;
}
#name_heading
{
	text-align: center;
	background-color: #FF9100;
	width: 100%;
	margin-top: 65px;
	padding: 10px;
	font-family: 'Skranji', cursive;
}
#profile_pic
{
	float: left;
	margin-left: 15px;
}
