@charset "utf-8";
/* CSS Document */
body
{
	background-color: #DFE1E4;
}
#heading_div
{
	background-color: lightgrey;
	margin: 15px;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 1px 0px;
	display: flex;
  	align-items: center;
}
#name_heading
{
	margin: auto;
	text-align: center;
	font-family: 'Skranji', cursive;
}
#profile_pic
{
	padding: 10px;
	margin:auto;
	float: left;
	vertical-align: middle;
	height: 150px;
	width: 150px;
}
#education
{
	margin-top: 10px;
}
.heading
{
	padding: 10px 10px 10px 25px;
	font-size: 25px;
	background-color: #FF9100;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 1px 1px 2px 0px;
}
.heading-details
{
	background-color: lightgrey;
	margin: 0px 0px 15px 0px;
	padding: 5px 15px 15px 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 2px 0px;
}
.education_div
{
	background-color:#DFE1E4;
	margin: 10px;
	padding: 10px 10px 10px 20px;
	border-radius: 5px;
}
.education_heading
{
	font-size: 20px;
	color: black;
}
.education_school
{
	font-size: 12px;
	color: darkslategray;
}
.education_year
{
	font-size: 15px;
	color: darkslategray;
}
#skills
{
	margin-top: 10px;
}
#skill_box li
{
	list-style-type: none;
	padding: 10px 10px 10px 20px;
	margin: 5px;
	border-radius: 5px;
	background-color:#DFE1E4;

}
#projects
{
	margin-top: 10px;
}
#project_box
{
	margin-bottom: 10px;
}
.projects
{
	background-color: #DFE1E4;
	padding: 0px 0px 10px 0px;
	margin-top: 10px;
	border-radius: 5px;
/*	box-shadow: 1px 1px 2px 0px;*/
}

.project_title
{
	color: white;
	font-size: 25px;
	margin: 0px;
	padding: 5px 5px 5px 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: grey;
}
.info_button
{
	background-color: darkgrey;
	padding: 10.75px;
	border-top-right-radius: 5px;
}
.projects li
{
	color: dimgrey;
	margin-top: 5px;
	padding-left: 25px
}
#contact
{
	margin-top: 10px;
}
#contact_details
{
	padding-top: 20px;
	text-align: center;
}
.col-sm-6
{
	padding: 5px;
}
.col-sm-4
{
	padding: 0px;
}
.col-lg-4
{
	padding: 0px;
}
