
.button_style
{
	background-color: none;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}
.active, .button_style:hover{
	background-color: lightblue;
}

.panel{
	text-align: center;
	padding: 0 18px;
	background-color: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.button_style :after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active :after {
    content: "\2796";
}

.headding{
	color: crimson;
}
.details{
	padding-left: 25px;
}
